* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65vh;
    color: rgb(182, 175, 165);
    font-size: 3rem;
}

body {
    background-image: url(illustration.jpg);
}